<h1>Contact Us</h1>

<img style="float:right; width:480px; height:320px;" src="../../assets/images/contact_us.jpg">
<p>Lorem ipsum dolor sit amet, orci per sit sed est convallis luctus. Arcu a curae turpis ullamcorper, 
  nulla enim aliquam vivamus, mauris integer magna egestas arcu elementum lacus, quis vel porttitor 
  purus interdum. Et ornare pede id, ipsum sapien ipsum, ut sit posuere nunc. Nulla quam ut magna 
  cursus amet. Donec nulla risus maecenas, porttitor massa vel venenatis lacus, vitae do bibendum, 
  montes nostrum maecenas ipsum vel quis. Consequat suspendisse sed, et ut vestibulum sit vehicula 
  risus, wisi non dis blandit vestibulum curabitur.</p>
<p><span style="font-weight:bold;">Phone:</span> 1-800-555-1212</p>
<div>
    <span style="font-weight:bold;">Address:</span>
  <div>
      Classified<br />
      123 Anyplace Drive<br />
      Charlotte, NC 55555
  
    </div>
  </div>