<h1>Find a Job</h1>

<div *ngFor="let job of jobs; let i = index">
    <p>
      
      <a [routerLink]="['/jobs/' + job.id]">
        <span>{{ job.position }} {{ job.locationCity }}, {{ job.locationState }}</span>
      </a> <br/>
      <span>{{ job.company }} {{ job.type }} ({{ job.payRate | currency : 'USD' : 'symbol' }} / {{ job.payPeriod }})</span>
      <span>{{ job.description.substring(0, 200) }} ... <a [routerLink]="['/jobs/' + job.id]" class="moreinfo">more info</a></span> 

    </p>

</div>
<div class="clearfix"></div>

