<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/"><span style="font-size:30px;">Classifieds</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class="mr-auto"></div>
        
      <ul class="navbar-nav ">s
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/jobs">Find A Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">List a Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
        </li>
      </ul>

      <button class="btn btn-primary disabled">Login</button>
    </div>
  </div>
</nav>